/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');

* {
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

body {
  margin: auto 0;
}

.hex-nav {
  padding-left: 2%;
  background-color: thistle;
}

.hex-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.hex-nav a img {
  width: 80px;
}

.hex-nav a h1 {
  color: mintcream;
  font-weight: 400;
  font-size: xxx-large;
}

.canvas {
  margin: 0.5% 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#file-upload {
  text-align: center;
  margin: 5% 0;
}

.home {
  display: flex;
  padding: 5px;
}

.panel {
  padding: 1%;
  margin: 0.5% 0;
  background: whitesmoke;
  height: 800px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: aliceblue;
  border-radius: 7px;
  box-shadow: inset 0 0 9px 0px #8c8697;
}

.panel button {
  background: #c7bfd8;
  margin: 1%;
  padding: 1%;
}

.panel button:focus {
  background: #d8bfd2;
}

.upload-container {
  margin: 10% 15%;
  padding: 0% 10%;
}

.upload-box {
  text-align: center;
  outline: dotted 2.5px ivory;
  padding: 15%;
  background: #c7bfd8;
  outline-offset: -10px;
  box-shadow: 0px 0px 35px 2px #b7b7b79e;
}

.upload-box p {
  padding: 5%;
}
