/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

body {
  margin: auto 0;
}

.hex-nav {
  padding-left: 2%;
  background-color: thistle;
}

.hex-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.hex-nav a img {
  width: 80px;
}

.hex-nav a h1 {
  color: mintcream;
  font-weight: 400;
  font-size: xxx-large;
}

.canvas {
  align-self: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
